// Main

@import "normalize";
@import "google-homepage";


$color-main: white;






/* Styling */
body {
    background: #ffffff;
}


// Stage (Parent)
#stage {
    position: relative; 
    overflow: hidden;
}




// Child
#wasabi {
    position: absolute;
    height: 15%;
    margin-top: 255px;
    margin-left: -200px;
    
      .cls-1 {
        fill: #7fb521;}
    
    .cls-2 {
        fill: #231f20;}
}


#Chopsticks {
    position: absolute;
    margin: 120px;
    margin-left: 35px;
    height: 12%;
    transform: rotate(65deg);
    
    .cls-1 {
        fill: #d1b771;}
    .cls-2 {
        fill: #ec292e;
    }
}

#Sushi1 {
    position: absolute;
    height: 25%;
    margin-top: 120px;
    margin-left: 159px;
    transform: rotate(45deg);
    
    .cls-1 {
        fill: #eee;}
    .cls-2 {
        fill: #231f20;
    }
    .cls-3 {
        fill: #ebebeb;
    }
    .cls-4 {
        fill: #f9631e;
    }
    
}

#Sushi2 {
    position: absolute;
    width: 15%;
    margin-top: 118px;
    margin-left: -40px;

    .cls-1 {
        fill: #231f20;}
    
    .cls-2 {
        fill: #ebebeb;
    }
    .cls-3 {
        fill: #e14d4a;
    }
 
}

#Sushi3 {
    position: absolute;
    width: 20%;
    margin-top: 130px;
    margin-left: -130px;

     .cls-1 {
        fill: #ebebeb;}
    
    .cls-2 {
        fill: #f0c6bc;
    }
    .cls-3 {
        fill: #e95124;
    }  
    
}



// Child
#stage h1 {
    position: absolute;
    margin-top: 50px;
    margin-left: 10%;
    font-size: 10em;

}



// Animations Go Here

//#Chopsticks {
//    animation: 3.5s infinite alternate-reverse both;
//
//}

   
//#wasabi {
//    animation: 3.5s infinite alternate-reverse both;
//
//}
    
    
    
   