// Main

@import "normalize";
@import "google-homepage";


$color-main: white;






/* Styling */
body {
    background: #ffffff;
}


// Stage (Parent)
#stage {
    position: relative; 
    overflow: hidden;
}




// Child

svg {
    position: absolute;
    margin-bottom: 10px;
    height: 10%;
    
    
}




// Animations Go Here

.cls-15, .cls-16 {
  
 animation-name: bounce; 
 animation-duration: 5s; 
 animation-iteration-count: infinite;
 animation-direction: normal; 
 animation-timing-function: ease; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
 animation-fill-mode: backwards; /* or: backwards, both, none */
 animation-delay: 2s;
  
  }





@keyframes bounce {
  from, 20%, 53%, 80%, to 
  {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

